@import 'tailwindcss';
@plugin 'daisyui';

.bg-base-100-custom {
    background-color: color-mix(
        in srgb,
        var(--color-base-100) 85%,
        transparent
    );
}

.border-terminal {
    border: calc(var(--spacing)) var(--color-primary) double;
    background: var(--color-base-300);
    position: relative;
    overflow: hidden;
    padding: calc(var(--spacing) * 1);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.3);
}

@theme {
    --animate-blink: blink 2s ease-in-out infinite;

    --animate-jump: bounce 0.5s ease-in-out;

    @keyframes blink {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }

    @keyframes scan {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(100%);
        }
    }

    @keyframes text-jitter {
        0%,
        100% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(0.2px, -0.1px);
        }
        50% {
            transform: translate(-0.1px, 0.2px);
        }
        75% {
            transform: translate(0.1px, -0.1px);
        }
    }
}
