@import 'tailwindcss';
@plugin 'daisyui';

.bg-base-100-custom {
    background-color: color-mix(
        in srgb,
        var(--color-base-100) 85%,
        transparent
    );
}

@theme {
    --animate-blink: blink 2s ease-in-out infinite;

    @keyframes blink {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
}
