@import 'tailwindcss';
@plugin 'daisyui';

.border-terminal {
    border: calc(var(--spacing)) var(--color-primary) double;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.3);
    /* background-color: var(--color-modalBlack); */
}

@theme {
    --animate-blink: blink 2s ease-in-out infinite;

    --animate-jump: bounce 0.5s ease-in-out;

    --animate-shine: shine 1.5s ease-out;

    --color-modalBox: #2d416f;

    --color-modalBlack: oklch(0.15 0 0);

    --color-darkpink: #3d2c3f;

    --color-azure: oklch(0.8 0.14 201.09);

    @keyframes blink {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }

    @keyframes scan {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(100%);
        }
    }

    @keyframes text-jitter {
        0%,
        100% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(0.2px, -0.1px);
        }
        50% {
            transform: translate(-0.1px, 0.2px);
        }
        75% {
            transform: translate(0.1px, -0.1px);
        }
    }

    @keyframes shine {
        0% {
            transform: skewX(-25deg) translate3d(-200%, 0, 0);
        }
        100% {
            transform: skewX(-25deg) translate3d(400%, 0, 0);
        }
    }
}
